:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.debug{
    border: 1px solid red;
}
*/

/****************************************************************
* Custom Scrollbar
****************************************************************/
.scrollable-element {
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
}

/* WebKit Browsers */
.scrollable-element::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.scrollable-element::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s;
}

.scrollable-element:hover::-webkit-scrollbar-thumb {
    opacity: 1; /* Show on hover */
    background-color: rgba(255, 255, 255, 0.4);
}

.scrollable-element::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Firefox */
.scrollable-element:hover {
    scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
/****************************************************************
****************************************************************/


body{
    background-color: #282828;
    color: white;
    font-family: "Montserrat", sans-serif;
}


.album-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}


a{
    text-decoration: none;
    color: var(--color-lightgrey);
}


ul{
    list-style: none;
}

.wrapper{
    height: 100vh;
    background-color: #282828;
}

/* sizing  */

.pleft-20{
    padding-left: 20px;
}
.pleft-5{
    padding-left: 5px;
}

.pleft-10{
    padding-left: 10px;
}

.pright-20{
    padding-right: 20px;
}

.ptop-10{
    padding-top: 10px;
}

.ptop-50{
    padding-top: 50px;
}

.ptop-30{
    padding-top: 30px;
}

.ptop-20{
    padding-top: 20px;
}

.pbot-20{
    padding-bottom: 20px;
}

.pbot-10{
    padding-bottom: 10px;
}



/* colors  */
.cl-lightgrey{
    color: var(--color-lightgrey);
} 

.cl-white{
    color: var(--color-light);
}

.bg-black{
    background-color: #000000;
}


/* Animation */
.white-animation {
    transition: color 0.2s ease;
}

.white-animation:hover {
    color: var(--color-light);
}




/* Utility */
.d-flex{
    display: flex;
}

.f-column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.z-index-10000{
    z-index: 10000;
}


.wrap{
    flex-wrap: wrap;
}

.gap-10{
    gap: 10px;
}

.gap-15{
    gap: 15px;
}

.gap-30{
    gap: 30px;
}

.uppercase{
    text-transform: uppercase;
}

.rounded{
    border-radius: 50%;
}

/* text utility */

.text-center{
    text-align: center;
}

.text-medium{
    font-size: 0.75rem;
}

.text-medium-big{
    font-size: 0.9rem;
}

.bold {
    font-weight: bold;
}


.upper-content{
    background-color: var(--color-dark);
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

footer{
    background-color: var(--color-darkgrey);
    height: 100px;
}


.header a{
    border: 1px solid var(--color-lightgrey);
    color: var(--color-lightgrey);
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#uppernav ul li a::after{
    content: '';
    display: block;
    width: 50px;
    margin: 0 auto;
    height: 3px;

}

#uppernav ul li a::hover::after{
    background-color: var(--color-highlight);
}

.header a:hover{
    transform: scale(1.1);
    color: var(--color-light);
    border: 1px solid var(--color-light);
}


/* Sidebar */
#sidebar{
    flex: 0 0 230px;
    background-color: black;

}

.sidebar-top>img{
    width: 65%;
}

.nav-icon{
    width: 30px;
}

.sidebar-top{
    height: calc(100% - 90px);
}

#sidebar-bottom{
    height: 90px;
}

#sidebar-bottom>div{
    width: 80%;
    margin: 0 auto;
}

#crea-playlist{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1 / 1;
    background-color: var(--color-lightgrey);
    border-radius: 2px;
}

#crea-playlist>span{
    color: var(--color-dark);
    font-weight: 800;
    font-size: 30px;
    
}

#profile-picture>span>img{
    width: 20px;
    aspect-ratio: 1 / 1;
    background-color: var(--color-lightgrey);
    border-radius: 50%;
    object-fit: cover;
}



/* main */
main{
    flex: 1 1 auto;
    overflow-y: auto;
    position: relative;
    

}

.main-content{
    position: absolute;
    top: 0;
    padding: 90px 20px 20px;
    width: 100%;
}

.header{
    height: 70px;
    position: sticky;
    top : 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    background-color: hsla(0, 0%, 0%, 0.349);
}


/* Album 
.album{
;
}
*/

.col-recent{
    width: calc((100%) / 6);
    padding: 5px;
}




.layover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 3em;
    z-index: 1000;
    opacity: 0;
}

.box{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}



.col-popular{
    width: calc((100%) / 2);
    padding: 5px;
}

.col-popular img{

    height: auto;

}
/*
.text-title{
    font-size: 1.6vw;
}
*/

.text-album{
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    
    
}

/* FOOTER */

#playbar{
    height: 100%;
    width: 100%;
}

.left-footer, .right-footer{
    width: 230px;
    height: 100%;
    padding: 10px;
}

#playing-song{
    width: 20%;
    height: 20%;
}

.center-footer{
    width: 40%;
    height: 100%;
}

.center-footer .playbar-buttons{
    height: 50%;
}

.center-footer .playbar-buttons ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.8em;
}

.brano-nome{
    color: var(--color-lightgrey);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.brano-nome:hover {
    color: var(--color-light);
    text-decoration: underline;
}

.hearth {
    color: gray;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .hearth:hover {
    transform: scale(1.2);
    color: red;
  }

  .folder {
    color: gray;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .folder:hover {
    transform: scale(1.2);
    color: rgb(3, 145, 67);
  }
  
.center-footer .playbar-buttons ul li {
    transition: transform 0.3s ease-in-out;
}

.center-footer .playbar-buttons ul li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.playbar-play{
    height: 30%;
}

.fa-shuffle, .fa-backward-step, .fa-forward-step, .fa-repeat{
    color: var(--color-lightgrey);
    font-size: 0.75em;
}

.play-controller{
    flex-grow: 1;
}

.play-controller input {
    width: 100%;
    -webkit-appearance: none; 
    background: transparent;
    cursor: pointer;
    margin: 0; 
    padding: 0 10px;
}

.right-footer ul li {
    transition: transform 0.3s ease-in-out;
}

.right-footer ul li:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.play-controller input::-webkit-slider-runnable-track {
    height: 7px;
    background: linear-gradient(#bbb2af, #747373);
    border-radius: 5px;
}

.play-controller input::-webkit-slider-thumb {
    -webkit-appearance: none; 
    height: 12px;
    width: 12px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: -3px; 
    cursor: pointer;
}


@media (max-width: 1200px) {
    .col-recent {
        width: calc(100% / 4);
    }

    .text-album{
        font-size: 20px;
    }

}


@media (max-width: 996px) {
    .col-recent {
        width: calc(100% / 3);
    }

    .text-album{
        font-size: 18px;
    }
}


@media (max-width: 576px) {
    .col-recent {
        width: 100%;
    }
    .text-album{
        font-size: 16px;
    }
}