:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

body{
    background-color: #282828;
    color: white;
    font-family: "Montserrat", sans-serif;
}


.album-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}



ul{
    list-style: none;
}

.wrapper{
    height: 100vh;
    background-color: #282828;
}

/* sizing  */
.ptop-50{
    padding-top: 50px;
}

.ptop-30{
    padding-top: 30px;
}

.ptop-20{
    padding-top: 20px;
}

.pbot-20{
    padding-bottom: 20px;
}



/* colors  */
.cl-lightgrey{
    color: var(--color-lightgrey);
} 



/* Utility */
.d-flex{
    display: flex;
}

.f-column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.wrap{
    flex-wrap: wrap;
}

.gap-15{
    gap: 15px;
}

.uppercase{
    text-transform: uppercase;
}


/* text utility */

.text-center{
    text-align: center;
}

.text-medium{
    font-size: 0.75rem;
}


.upper-content{
    background-color: var(--color-dark);
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

footer{
    background-color: var(--color-dark);
    height: 100px;
}


/* Sidebar */
#sidebar{
    flex: 0 0 230px;
    background-color: black;

}

.nav-icon{
    width: 30px;
}


/* main */
main{
    flex: 1 1 auto;
    overflow-y: auto;
    position: relative;
    

}

.main-content{
    position: absolute;
    top: 0;
    padding: 90px 20px 20px;
    width: 100%;
}

.header{
    height: 70px;
    position: sticky;
    top : 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    background-color: hsla(0, 0%, 0%, 0.349);
}

.album{
    flex: 0 0 calc(((100% - 90px) - (5 * 15)) / 6);
}
